*{
    margin: 0 auto;
    background: #F5F7FB;
    
}



.mainComp{
    width: 100vw;
    height: 100vh;
    background-image: url('images/blob 5blob2.png'),url('images/blob 5blob.png');
    background-position: right 0 top 0 , bottom 0 left 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.title{
    color: #293264;
    text-align: center;
    font-size: 31.25px;
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px;
}

.description{
    color: #293264;
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



button{
    width: 193px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #4D5B9E;
    margin: 20px;
}

#q1{
    border-radius: 7.942px;
    border: 0.794px solid #4D5B9E;
    padding: 5px 15px;
    width: 193px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 15px;
    background: white ;
    margin: 20px; 
}


button.green {
    background-color: #94D7A2 !important;
    color: #293264;
  }
  
button.red {
    background-color: #F8BCBC !important;
    color: #293264;
  }




.questions{
    margin: 0;
    width:800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.questions-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
}


.answer-block{
    display: flex;
    gap: 10px;
}


.question{
    display: flex;
    margin: 15px;
    color: #293264;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.mainQuestionsPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}